<h3>Taxas de Câmbio</h3>

<div>
  <% @currencies.each do |currency| %>
    <div class="<% currency.status %>">
      <p>Valor de um Rubi é <%= currency.currency_value %> Reais</p>
      <p>Usuário Responsável: <%= currency.admin.name %></p>
      <p>Status: <%= currency.status %></p>
    </div>
  <% end %>
</div>