<h2> <%= t(:register_new_category) %> </h2>

<div class="container">
  <div class='d-flex justify-content-center'>
    <div>
      <% if @category.errors.any? %>
        <div class='alert alert-danger'>
           <h3> <%= t(:verify_bellow_errors) %></h3>
          <ul>
          <% @category.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        </div> 
      <% end %>
      <%= render 'form' %>
    </div>
  </div>
</div>