<h2>Cadastre nova categoria</h2>

<% if @category.errors.any? %>
  <p>Verifique os erros abaixo</p>
  <ul>
  <% @category.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul> 
<% end %>

<%= render 'form' %>