<h2>Transações Realizadas</h2>


<% if @transactions.any? %>
  <table>
    <thead>
      <tr>
        <th>Número de Registro</th>
        <th>Valor</th>
        <th>Taxa no Momento</th>
        <th>Cashback</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td> <%= transaction.registered_number %> </td>
          <td> <%= number_to_currency(transaction.value) %> </td>
          <td> <%= transaction.currency_rate %> </td>
          <td> <%= transaction.cashback ? number_to_currency(transaction.cashback) : number_to_currency(0) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há transações cadastradas</p>
<% end %>
